.unstick {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  /* z-index: 1; */
}

.stick {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  /* z-index: 0; */
  /* position: fixed;
  z-index: 1;
  box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.3);
  right: 0;
  top: 250px;
  width: 100px;
  height: 200px;
  text-align: center;
  border: none;
  border-radius: 3px;
  color: #333333; */
}
